run = "python reporter/chef/main.py"
modules = ["python-3.11"]

[env]
REPLIT_NO_WEBVIEW = "true"
ENVIRONMENT = "production"
REPLIT_DISABLE_PACKAGE_LAYER = "1"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "python reporter/chef/main.py"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80
protocol = "http"
