modules = ["python-3.10:v18-20230807-322e88b", "nodejs-18:v3-20230608-f4cd419"]
hidden = [".pythonlibs"]
run = "python reporter/chef/main.py"
# run = "npm run start"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "npx npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm install"]

[languages.javascript]
pattern = "**/*.{js,jsx,ts,tsx,json}"
[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
