
modules = ["python-3.10:v18-20230807-322e88b", "nodejs-18:v3-20230608-f4cd419"]
hidden = [".pythonlibs"]
run = "python reporter/chef/main.py"

[env]
REPLIT_NO_WEBVIEW = "true"
ENVIRONMENT = "production"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = "python reporter/chef/main.py"
deploymentTarget = "cloudrun"

[languages.javascript]
pattern = "**/*.{js,jsx,ts,tsx,json}"
[languages.javascript.languageServer]
start = ["typescript-language-server", "--stdio"]

[[ports]]
localPort = 3000
externalPort = 80
